{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            İlan Ver
        </div>

        <form class="form">
            <div class="input_field">
                <input type="text" placeholder="Fotoğraf Linki" class="input">
                
            </div>
            <div class="input_field">
                <input type="text" placeholder="Model" class="input">
                
            </div>
            <div class="input_field">
                <input type="text" placeholder="İlan Başlığı" class="input">
                
            </div>
            <div class="input_field">
                <input type="text" placeholder="Kilometre" class="input">
                
            </div>
            <div class="input_field">
                <input type="text" placeholder="Fiyat" class="input">
                
            </div>
            <div class="input_field">
                <input type="text" placeholder="İl" class="input">
                
                </div>
                <div class="btn">
                    <a href="#">İlan Ver</a>
                </div>
            </div>
            
            
        </form>
    </div>
</body>
</html>