{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <style>
      .rememberp{
          color: #000000;
          font-size: 15px;
          font-weight: 600;
          display: inline;
          margin-left: 5px;
          margin-bottom: 2px;
      }
  </style>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Giriş Yap
        </div>

        <div class="form">
            <div class="input_field">
                <input type="text" placeholder="E-mail" class="input">
                
            </div>
            
            <div class="input_field">
                <input type="password" placeholder="Şifre" class="input">
                
                </div>
                <div>
                    <input type="checkbox" class="remember"><p class="rememberp">Beni hatırla</p>  
                </div>
                <div class="btn">
                    <a href="#">Giriş Yap</a>
                </div>
            </div>
            
            
        </div>
    </div>
</body>
</html>